<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.min.css">
    <title>404 - Page Not Found - digitalStun</title>
</head>
<body>

    <main class="container">

        <nav>
            <ul>
          <li><a href="/"><strong>digitalstun</strong></a></li>
            </ul>
            <ul>
              <li><a href="/" role="button">Back to Home</a></li>
            </ul>
          </nav>
       
          <h1>PAGE NOT FOUND</h1>

<div> <img src="/images/404/6.png" alt="404"></div>

        </main>
</body>
</html>