<!doctype html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/pico.min.css">
    <title>Cinema - digitalStun</title>
  </head>
  <body>
    <main class="container">

    <nav>
        <ul>
      <li><a href="/"><strong>digitalstun</strong></a></li>
        </ul>
        <ul><li><a href="/blog">Blog</a></li>
          <li><a href="/cinema">Cinema</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact" role="button">Contact</a></li>
        </ul>
      </nav>
   
    <h2>CINEMA.</h2>
    </main>
    <div>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
    </div>

  </body>
</html>